
/*
  Import the common theme.
*/
@import "./_shared/scss/theme.scss";

/*
  If you need some CSS for any reason you can put it here.
*/
.inside{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
}
.beerCase{
  border: 2px solid black;
 list-style: none;
 margin:.5em;
 padding: .3em;
}
